<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width,
    initial-scale=1,
    shrink-to-fit=no"
    />
    <meta name="author" content="Keiber Urbila" />

    {# Bootstrap core CSS #} <link rel="stylesheet" type=text/css media="screen"
    href="{{ url_for('static', filename='css/bootstrap.min.css') }}" >
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='imgs/favicon.ico') }}">
    <title>Flask Merge DF</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="{{ url_for('index') }}">Flask Merge DataFrames</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarColor03"
          aria-controls="navbarColor03"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarColor03">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('index') }}">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://www.instagram.com/keiberup/" target="_blank">Instagram</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://github.com/metalpoch" target="_blank">GitHub</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    {% block content %} {% endblock %}
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js')}}"></script>
    <script>
      const waiting = () => console.log("ESPERANDO");
    </script>
  </body>
</html>
